@{
    ViewBag.Title = "Home Page";
}

@using InventoryManagement.Library.Resources;

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to @Label.InventoryManagement</h2>        
    </div>    
</div>